xml/gameSaves/game.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <!-- XML Schema Generated from XML Document on Sun Oct 26 2014 16:33:00 GMT+0000 (GMT) -->
   <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
   <xs:element name="game">
      <xs:complexType>
         <xs:sequence>
         	<xs:element name="player">
         		<xs:complexType>
         			<xs:sequence>
         				<xs:element name="id" type="xs:int" />
         				<xs:element name="name" type="xs:string" />
         			</xs:sequence>
         		</xs:complexType>
         	</xs:element>
         	<xs:element name="board">
         		<xs:complexType>
         			<xs:sequence>
         				<xs:element name="lokums" maxOccurs="1"
         					minOccurs="1">
         					<xs:complexType>
         						<xs:sequence>
         							<xs:element maxOccurs="unbounded"
         								minOccurs="1" name="lokum">
         								<xs:complexType>
         									<xs:sequence>
         										<xs:element
         											name="color" type="xs:string" />
         										<xs:element
         											name="position">
         											<xs:complexType>
         												<xs:sequence>
         													<xs:element
         														name="xcoord" />
         													<xs:element
         														name="ycoord" />
         												</xs:sequence>
         											</xs:complexType>
         										</xs:element>
         										<xs:element
         											name="direction" type="xs:string" maxOccurs="1"
         											minOccurs="0">
         										</xs:element>
         										<xs:element name="type"
         											type="xs:string" />
         									</xs:sequence>
         								</xs:complexType>
         							</xs:element>
         						</xs:sequence>
         					</xs:complexType>
         				</xs:element>

         			</xs:sequence>
         		</xs:complexType>
         	</xs:element>
         	<xs:element name="currentscore" type="xs:double" />
         	<xs:element name="movesleft" type="xs:int" />
         	<xs:element name="level" type="xs:int" />
         	<xs:element name="timeleft" type="xs:long" maxOccurs="1" minOccurs="0"></xs:element>
         	<xs:element name="specialswapsleft" type="xs:int"></xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>