xml/sessionSaves/session.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- XML Schema Generated from XML Document on Sun Oct 26 2014 16:33:00 GMT+0000 (GMT) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="session">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="player">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:int"/>
							<xs:element name="name" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
                <xs:element name="score" type="xs:double" />
                <xs:element name="maxlevel" type="xs:int"/>
            </xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>